Repository hmcts/disposer-idam-user, pull requests merged in 2023-12, with the labels that each got.

#198 Lau 819 functional test refactor
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/idam/UserDeletionFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/idam/UserRestoreFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/idam/helpers/DeletedAccountsRequest.java
  src/functionalTest/java/uk/gov/hmcts/reform/idam/helpers/IdamUserDataProvider.java
  src/functionalTest/java/uk/gov/hmcts/reform/idam/helpers/LauDeletionLogEntryProvider.java
  src/functionalTest/java/uk/gov/hmcts/reform/idam/helpers/LauIdamBackendServiceProvider.java
  src/functionalTest/resources/application-functional.yaml
  src/main/java/uk/gov/hmcts/reform/idam/service/remote/responses/DeletionLog.java
  src/test/java/uk/gov/hmcts/reform/idam/service/LauIdamUserServiceTest.java
Labels: ns:disposer, prd:disposer, rel:disposer-idam-user-pr-198

#204 Update restore request to use forname and surname
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/idam/UserRestoreFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/idam/response/RestoredUserFullObject.java
  src/functionalTest/java/uk/gov/hmcts/reform/idam/response/RestoredUserResponse.java
  src/main/java/uk/gov/hmcts/reform/idam/service/RestoreUserService.java
  src/main/java/uk/gov/hmcts/reform/idam/service/remote/requests/RestoreUserRequest.java
  src/main/java/uk/gov/hmcts/reform/idam/util/RestoreSummary.java
  src/test/java/uk/gov/hmcts/reform/idam/service/RestoreUserServiceTest.java
Labels: ns:disposer, prd:disposer, rel:disposer-idam-user-pr-204

#205 LAU-823 bump logback version
  build.gradle
Labels: ns:disposer, prd:disposer, rel:disposer-idam-user-pr-205

#209 LAU-824 generate service token every 4 hours
  src/main/java/uk/gov/hmcts/reform/idam/util/SecurityUtil.java
Labels: ns:disposer, prd:disposer, rel:disposer-idam-user-pr-209
