Repository hmcts/disposer-idam-user, pull requests merged in 2023-09, with the labels that each got.

#77 Lau 690
  .github/dependabot.yml
Labels: ns:disposer, prd:disposer, rel:disposer-idam-user-pr-77

#85 LAU-715 added aspect to retry on feign exception
  src/integrationTest/java/uk/gov/hmcts/reform/idam/bdd/RetrySteps.java
  src/integrationTest/java/uk/gov/hmcts/reform/idam/bdd/SpringBootIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/idam/bdd/UserDisposerSteps.java
  src/integrationTest/java/uk/gov/hmcts/reform/idam/bdd/WireMockStubs.java
  src/integrationTest/resources/application-test.yaml
  src/integrationTest/resources/features/user_disposer.feature
  src/main/java/uk/gov/hmcts/reform/idam/Application.java
  src/main/java/uk/gov/hmcts/reform/idam/service/DeleteUserService.java
  src/main/java/uk/gov/hmcts/reform/idam/service/StaleUsersService.java
  src/main/java/uk/gov/hmcts/reform/idam/service/UserRoleService.java
  src/main/java/uk/gov/hmcts/reform/idam/service/aop/MethodRetryAspect.java
  src/main/java/uk/gov/hmcts/reform/idam/service/aop/Retry.java
  src/main/java/uk/gov/hmcts/reform/idam/util/SecurityUtil.java
  src/test/java/uk/gov/hmcts/reform/idam/service/StaleUsersServiceTest.java
  src/test/java/uk/gov/hmcts/reform/idam/service/aop/MethodRetryAspectTest.java
  src/test/java/uk/gov/hmcts/reform/idam/util/SecurityUtilTest.java
Labels: ns:disposer, prd:disposer, rel:disposer-idam-user-pr-85

#95 Lau 695
  src/main/java/uk/gov/hmcts/reform/idam/parameter/ParameterResolver.java
  src/main/java/uk/gov/hmcts/reform/idam/service/remote/client/IdamClient.java
  src/main/java/uk/gov/hmcts/reform/idam/util/SecurityUtil.java
  src/test/java/uk/gov/hmcts/reform/idam/util/SecurityUtilTest.java
Labels: ns:disposer, prd:disposer, rel:disposer-idam-user-pr-95

#96 LAU-678 log 1% of health messages
  lib/applicationinsights.json
Labels: ns:disposer, prd:disposer, rel:disposer-idam-user-pr-96

#99 Update README.md
  README.md
Labels: ns:disposer, prd:disposer, rel:disposer-idam-user-pr-99

#100 LAU-741 split idam token and service token generators
  src/integrationTest/java/uk/gov/hmcts/reform/idam/bdd/WireMockStubs.java
  src/integrationTest/resources/application-test.yaml
  src/main/java/uk/gov/hmcts/reform/idam/service/remote/AuthRequestInterceptor.java
  src/main/java/uk/gov/hmcts/reform/idam/util/IdamTokenGenerator.java
  src/main/java/uk/gov/hmcts/reform/idam/util/SecurityUtil.java
  src/main/java/uk/gov/hmcts/reform/idam/util/ServiceTokenGenerator.java
  src/test/java/uk/gov/hmcts/reform/idam/util/IdamTokenGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/idam/util/SecurityUtilTest.java
  src/test/java/uk/gov/hmcts/reform/idam/util/ServiceTokenGeneratorTest.java
Labels: ns:disposer, prd:disposer, rel:disposer-idam-user-pr-100

#104 Add request limit parameter
  src/main/java/uk/gov/hmcts/reform/idam/parameter/ParameterResolver.java
  src/main/java/uk/gov/hmcts/reform/idam/service/IdamUserDisposerService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/idam/parameter/DefaultParameterResolverTest.java
  src/test/java/uk/gov/hmcts/reform/idam/service/IdamUserDisposerServiceTest.java
Labels: ns:disposer, prd:disposer, rel:disposer-idam-user-pr-104

#107 LAU-747 remove removed jenkins actions from Jenkinsfile
  Jenkinsfile_CNP
Labels: ns:disposer, prd:disposer, rel:disposer-idam-user-pr-107

#108 LAU-741 add authorization header to feign clients, replace 403 with 401
  src/integrationTest/java/uk/gov/hmcts/reform/idam/bdd/RetrySteps.java
  src/integrationTest/java/uk/gov/hmcts/reform/idam/bdd/UserDisposerSteps.java
  src/integrationTest/java/uk/gov/hmcts/reform/idam/bdd/WireMockStubs.java
  src/integrationTest/resources/features/user_disposer.feature
  src/main/java/uk/gov/hmcts/reform/idam/service/DeleteUserService.java
  src/main/java/uk/gov/hmcts/reform/idam/service/StaleUsersService.java
  src/main/java/uk/gov/hmcts/reform/idam/service/UserRoleService.java
  src/main/java/uk/gov/hmcts/reform/idam/service/aop/MethodRetryAspect.java
  src/main/java/uk/gov/hmcts/reform/idam/service/remote/AuthRequestInterceptor.java
  src/main/java/uk/gov/hmcts/reform/idam/service/remote/client/IdamClient.java
  src/main/java/uk/gov/hmcts/reform/idam/util/Constants.java
  src/main/java/uk/gov/hmcts/reform/idam/util/IdamTokenGenerator.java
  src/test/java/uk/gov/hmcts/reform/idam/service/DeleteUserServiceTest.java
  src/test/java/uk/gov/hmcts/reform/idam/service/StaleUsersServiceTest.java
  src/test/java/uk/gov/hmcts/reform/idam/service/UserRoleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/idam/service/aop/MethodRetryAspectTest.java
  src/test/java/uk/gov/hmcts/reform/idam/util/IdamTokenGeneratorTest.java
Labels: ns:disposer, prd:disposer, rel:disposer-idam-user-pr-108

#117 Bump chart version to 0.0.12
  charts/disposer-idam-user/Chart.yaml
Labels: ns:disposer, prd:disposer, rel:disposer-idam-user-pr-117

#118 Add total number of deleted stale users log.
  src/main/java/uk/gov/hmcts/reform/idam/service/IdamUserDisposerService.java
Labels: ns:disposer, prd:disposer, rel:disposer-idam-user-pr-118
