Repository hmcts/disposer-idam-user, pull requests merged in 2023-07, with the labels that each got.

#33 Rename idam disposer
  Dockerfile
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  charts/disposer-idam-user/Chart.yaml
  charts/disposer-idam-user/values.yaml
  docker-compose.yml
  lib/applicationinsights.json
Labels: keep-helm, ns:disposer, prd:disposer, rel:disposer-idam-user-pr-33

#37 LAU-690 dependabot configuration
  .github/dependabot.yml
Labels: ns:disposer, prd:disposer, rel:disposer-idam-user-pr-37

#41 Lau 666 retrieve stale users
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/idam/ApplicationIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/idam/bdd/AbstractSteps.java
  src/integrationTest/java/uk/gov/hmcts/reform/idam/bdd/IdamUserGetSteps.java
  src/integrationTest/java/uk/gov/hmcts/reform/idam/bdd/WiremokInstantiator.java
  src/integrationTest/resources/application-test.yaml
  src/integrationTest/resources/application.properties
  src/integrationTest/resources/wiremock/__files/role-assignment-normal.json
  src/integrationTest/resources/wiremock/__files/stale-users-normal.json
  src/main/java/uk/gov/hmcts/reform/idam/Application.java
  src/main/java/uk/gov/hmcts/reform/idam/ApplicationExecutor.java
  src/main/java/uk/gov/hmcts/reform/idam/config/AuthClientConfiguration.java
  src/main/java/uk/gov/hmcts/reform/idam/exception/IdamApiException.java
  src/main/java/uk/gov/hmcts/reform/idam/exception/IdamAuthTokenGenerationException.java
  src/main/java/uk/gov/hmcts/reform/idam/exception/ServiceAuthTokenGenerationException.java
  src/main/java/uk/gov/hmcts/reform/idam/exception/UserDetailsGenerationException.java
  src/main/java/uk/gov/hmcts/reform/idam/parameter/DefaultParameterResolver.java
  src/main/java/uk/gov/hmcts/reform/idam/parameter/ParameterResolver.java
  src/main/java/uk/gov/hmcts/reform/idam/service/IdamUserDisposerService.java
  src/main/java/uk/gov/hmcts/reform/idam/service/StaleUsersService.java
  src/main/java/uk/gov/hmcts/reform/idam/service/UserRoleService.java
  src/main/java/uk/gov/hmcts/reform/idam/service/remote/RestClient.java
  src/main/java/uk/gov/hmcts/reform/idam/service/remote/requests/RequestBody.java
  src/main/java/uk/gov/hmcts/reform/idam/service/remote/requests/UserRoleAssignmentQueryRequest.java
  src/main/java/uk/gov/hmcts/reform/idam/service/remote/requests/UserRoleAssignmentQueryRequests.java
  src/main/java/uk/gov/hmcts/reform/idam/service/remote/responses/RoleAssignment.java
  src/main/java/uk/gov/hmcts/reform/idam/service/remote/responses/RoleAssignmentResponse.java
  src/main/java/uk/gov/hmcts/reform/idam/service/remote/responses/StaleUsersResponse.java
  src/main/java/uk/gov/hmcts/reform/idam/util/SecurityUtil.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/idam/ApplicationExecutorTest.java
  src/test/java/uk/gov/hmcts/reform/idam/ApplicationTest.java
  src/test/java/uk/gov/hmcts/reform/idam/parameter/DefaultParameterResolverTest.java
  src/test/java/uk/gov/hmcts/reform/idam/service/IdamUserDisposerServiceTest.java
  src/test/java/uk/gov/hmcts/reform/idam/service/StaleUsersServiceTest.java
  src/test/java/uk/gov/hmcts/reform/idam/service/UserRoleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/idam/service/remote/RestClientTest.java
  src/test/java/uk/gov/hmcts/reform/idam/util/SecurityUtilTest.java
  stale-users.json
Labels: ns:disposer, prd:disposer, rel:disposer-idam-user-pr-41

#47 LAU-704 bump junit5PluginVersion for pitest
  build.gradle
Labels: ns:disposer, prd:disposer, rel:disposer-idam-user-pr-47

#49 LAU-700 cucumber tests setup
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/idam/ApplicationIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/idam/bdd/AbstractSteps.java
  src/integrationTest/java/uk/gov/hmcts/reform/idam/bdd/CommonSteps.java
  src/integrationTest/java/uk/gov/hmcts/reform/idam/bdd/IsItFriday.java
  src/integrationTest/java/uk/gov/hmcts/reform/idam/bdd/StepDef.java
  src/integrationTest/java/uk/gov/hmcts/reform/idam/bdd/UserDisposerSteps.java
  src/integrationTest/java/uk/gov/hmcts/reform/idam/bdd/WireMockInstantiator.java
  src/integrationTest/resources/application-test.yaml
  src/integrationTest/resources/features/is_it_friday_yet.feature
  src/integrationTest/resources/features/user_disposer.feature
  src/integrationTest/resources/wiremock/__files/roleAssignmentsResponse1.json
  src/integrationTest/resources/wiremock/__files/roleAssignmentsResponse2.json
  src/integrationTest/resources/wiremock/__files/roleAssignmentsResponse3.json
  src/integrationTest/resources/wiremock/__files/stale-users-normal.json
  src/integrationTest/resources/wiremock/__files/staleUsersPage1.json
  src/integrationTest/resources/wiremock/__files/staleUsersPage2.json
  src/integrationTest/resources/wiremock/__files/staleUsersPage3.json
  src/main/java/uk/gov/hmcts/reform/idam/service/IdamUserDisposerService.java
  src/main/java/uk/gov/hmcts/reform/idam/service/UserRoleService.java
  src/main/resources/application.yaml
Labels: ns:disposer, prd:disposer, rel:disposer-idam-user-pr-49

#50 LAU-632 make configurable stale users fetch batch size
  src/integrationTest/java/uk/gov/hmcts/reform/idam/bdd/AbstractSteps.java
  src/main/java/uk/gov/hmcts/reform/idam/service/StaleUsersService.java
Labels: ns:disposer, prd:disposer, rel:disposer-idam-user-pr-50
