Repository hmcts/disposer-idam-user, pull requests merged in 2023-06, with the labels that each got.

#11 Lau 631
  Dockerfile
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_template
  bin/init.sh
  build.gradle
  charts/disposer-idam-user-disposer/.helmignore
  charts/disposer-idam-user-disposer/Chart.yaml
  charts/disposer-idam-user-disposer/values.aat.template.yaml
  charts/disposer-idam-user-disposer/values.preview.template.yaml
  charts/disposer-idam-user-disposer/values.yaml
  charts/rpe-spring-boot-template/templates/NOTES.txt
  charts/rpe-spring-boot-template/values.preview.template.yaml
  charts/rpe-spring-boot-template/values.yaml
  config/pmd/ruleset.xml
  docker-compose.yml
  lib/applicationinsights.json
  src/functionalTest/java/uk/gov/hmcts/reform/idam/controllers/SampleFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/demo/controllers/GetWelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/demo/openapi/OpenAPIPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/idam/bdd/AbstractSteps.java
  src/integrationTest/java/uk/gov/hmcts/reform/idam/bdd/CommonSteps.java
  src/integrationTest/java/uk/gov/hmcts/reform/idam/bdd/CucumberTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/idam/bdd/IdamUserGetSteps.java
  src/integrationTest/java/uk/gov/hmcts/reform/idam/bdd/IsItFriday.java
  src/integrationTest/java/uk/gov/hmcts/reform/idam/bdd/SpringBootIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/idam/bdd/StepDef.java
  src/integrationTest/java/uk/gov/hmcts/reform/idam/bdd/WiremokInstantiator.java
  src/integrationTest/java/uk/gov/hmcts/reform/idam/helper/RestHelper.java
  src/integrationTest/resources/application.properties
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/features/is_it_friday_yet.feature
  src/main/java/uk/gov/hmcts/reform/demo/Application.java
  src/main/java/uk/gov/hmcts/reform/demo/config/OpenAPIConfiguration.java
  src/main/java/uk/gov/hmcts/reform/demo/controllers/RootController.java
  src/main/java/uk/gov/hmcts/reform/idam/Application.java
  src/main/java/uk/gov/hmcts/reform/idam/config/AppInsightsConfiguration.java
  src/main/resources/application.yaml
  src/smokeTest/java/uk/gov/hmcts/reform/idam/controllers/SampleSmokeTest.java
  src/test/java/uk/gov/hmcts/reform/idam/ApplicationTest.java
  src/test/java/uk/gov/hmcts/reform/idam/config/AppInsightsConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/rsecheck/DemoUnitTest.java
Labels: ns:idam, rel:idam-user-disposer-pr-11, prd:idam, keep-helm, ns:disposer, rel:disposer-idam-user-disposer-pr-11, prd:disposer

#12 Update configs and fix small issues
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  charts/disposer-idam-user-disposer/Chart.yaml
  charts/disposer-idam-user-disposer/values.yaml
  charts/rpe-spring-boot-template/Chart.yaml
  src/main/java/uk/gov/hmcts/reform/idam/Application.java
  src/main/resources/application.yaml
Labels: keep-helm, ns:disposer, prd:disposer, rel:disposer-idam-user-disposer-pr-12, rel:disposer-idam-user-pr-12

#18 Remove infra module
  infrastructure/.terraform-version
  infrastructure/README.md
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/prod.tfvars
  infrastructure/state.tf
  infrastructure/variables.tf
Labels: ns:disposer, prd:disposer, rel:disposer-idam-user-disposer-pr-18

#22 Small fixes
  Jenkinsfile_CNP
  charts/disposer-idam-user-disposer/Chart.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/idam/Application.java
Labels: keep-helm, ns:disposer, prd:disposer, no-changes, rel:disposer-idam-user-disposer-pr-22

#24 Remove health endpoint configs from application.yaml
  src/integrationTest/resources/application.yaml
  src/main/resources/application.yaml
Labels: ns:disposer, prd:disposer, rel:disposer-idam-user-disposer-pr-24

#26 Bump up chart version
  charts/disposer-idam-user-disposer/Chart.yaml
Labels: ns:disposer, prd:disposer, rel:disposer-idam-user-disposer-pr-26

#27 Fix Jenkinsfile_CNP
  Jenkinsfile_CNP
Labels: ns:disposer, prd:disposer, rel:disposer-idam-user-disposer-pr-27

#28 Rename idam disposer
  charts/disposer-idam-user-disposer/Chart.yaml
Labels: ns:disposer, prd:disposer, rel:disposer-idam-user-disposer-pr-28

#31 Rename idam disposer
  Jenkinsfile_CNP
  charts/disposer-idam-user/.helmignore
  charts/disposer-idam-user/Chart.yaml
  charts/disposer-idam-user/values.aat.template.yaml
  charts/disposer-idam-user/values.preview.template.yaml
  charts/disposer-idam-user/values.yaml
Labels: keep-helm, ns:disposer, prd:disposer, rel:disposer-idam-user-pr-31
