Repository hmcts/disposer-idam-user, pull requests merged in 2023-08, with the labels that each got.

#60 LAU-714 update stale users invocation to match LLD
  src/integrationTest/java/uk/gov/hmcts/reform/idam/bdd/WireMockStubs.java
  src/integrationTest/resources/wiremock/__files/roleAssignmentsResponse1.json
  src/integrationTest/resources/wiremock/__files/roleAssignmentsResponse2.json
  src/integrationTest/resources/wiremock/__files/roleAssignmentsResponse3.json
  src/integrationTest/resources/wiremock/__files/staleUsersPage1.json
  src/integrationTest/resources/wiremock/__files/staleUsersPage2.json
  src/integrationTest/resources/wiremock/__files/staleUsersPage3.json
  src/main/java/uk/gov/hmcts/reform/idam/service/IdamUserDisposerService.java
  src/main/java/uk/gov/hmcts/reform/idam/service/StaleUsersService.java
  src/main/java/uk/gov/hmcts/reform/idam/service/UserRoleService.java
  src/main/java/uk/gov/hmcts/reform/idam/service/remote/IdamClient.java
  src/main/java/uk/gov/hmcts/reform/idam/service/remote/requests/UserRoleAssignmentQueryRequest.java
  src/main/java/uk/gov/hmcts/reform/idam/service/remote/requests/UserRoleAssignmentQueryRequests.java
  src/main/java/uk/gov/hmcts/reform/idam/service/remote/responses/RoleAssignment.java
  src/main/java/uk/gov/hmcts/reform/idam/service/remote/responses/RoleAssignmentResponse.java
  src/main/java/uk/gov/hmcts/reform/idam/service/remote/responses/StaleUsersResponse.java
  src/main/java/uk/gov/hmcts/reform/idam/service/remote/responses/UserContent.java
  src/main/java/uk/gov/hmcts/reform/idam/util/Constants.java
  src/test/java/uk/gov/hmcts/reform/idam/service/IdamUserDisposerServiceTest.java
  src/test/java/uk/gov/hmcts/reform/idam/service/StaleUsersServiceTest.java
  src/test/java/uk/gov/hmcts/reform/idam/service/UserRoleServiceTest.java
Labels: ns:disposer, prd:disposer, rel:disposer-idam-user-pr-60

#61 LAU-710 secrets
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  charts/disposer-idam-user/Chart.yaml
  charts/disposer-idam-user/values.preview.template.yaml
  charts/disposer-idam-user/values.yaml
  src/main/java/uk/gov/hmcts/reform/idam/parameter/DefaultParameterResolver.java
  src/main/java/uk/gov/hmcts/reform/idam/parameter/ParameterResolver.java
  src/main/java/uk/gov/hmcts/reform/idam/service/remote/AuthRequestInterceptor.java
  src/main/java/uk/gov/hmcts/reform/idam/util/SecurityUtil.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/idam/parameter/DefaultParameterResolverTest.java
  src/test/java/uk/gov/hmcts/reform/idam/util/SecurityUtilTest.java
Labels: ns:disposer, prd:disposer, rel:disposer-idam-user-pr-61

#64 LAU-710 missing secret method
  Jenkinsfile_nightly
Labels: ns:disposer, prd:disposer, rel:disposer-idam-user-pr-64

#68 Pcq 710
  src/main/java/uk/gov/hmcts/reform/idam/util/SecurityUtil.java
  src/test/java/uk/gov/hmcts/reform/idam/util/SecurityUtilTest.java
Labels: ns:disposer, prd:disposer, rel:disposer-idam-user-pr-68
