Repository hmcts/disposer-idam-user, pull requests merged in 2024-01, with the labels that each got.

#218 Lau 825 duplicate users check
  config/pmd/ruleset.xml
  src/functionalTest/java/uk/gov/hmcts/reform/idam/DuplicateUserFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/idam/bdd/RetrySteps.java
  src/integrationTest/java/uk/gov/hmcts/reform/idam/bdd/SpringBootIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/idam/bdd/UserDisposerSteps.java
  src/integrationTest/java/uk/gov/hmcts/reform/idam/bdd/UserRestorerSteps.java
  src/main/java/uk/gov/hmcts/reform/idam/ApplicationExecutor.java
  src/main/java/uk/gov/hmcts/reform/idam/parameter/ParameterChecker.java
  src/main/java/uk/gov/hmcts/reform/idam/service/IdamDuplicateUserLoggerService.java
  src/main/java/uk/gov/hmcts/reform/idam/service/IdamUserDisposerService.java
  src/main/java/uk/gov/hmcts/reform/idam/service/IdamUserRestorerService.java
  src/main/java/uk/gov/hmcts/reform/idam/service/LauDeletedUsersConsumer.java
  src/main/java/uk/gov/hmcts/reform/idam/service/LauIdamUserService.java
  src/main/java/uk/gov/hmcts/reform/idam/service/remote/client/IdamClient.java
  src/main/java/uk/gov/hmcts/reform/idam/service/remote/responses/IdamQueryResponse.java
  src/main/java/uk/gov/hmcts/reform/idam/util/Constants.java
  src/main/java/uk/gov/hmcts/reform/idam/util/DuplicateUserSummary.java
  src/main/java/uk/gov/hmcts/reform/idam/util/IdamTokenGenerator.java
  src/main/java/uk/gov/hmcts/reform/idam/util/LoggingSummaryUtils.java
  src/main/java/uk/gov/hmcts/reform/idam/util/RestoreSummary.java
  src/main/java/uk/gov/hmcts/reform/idam/util/SecurityUtil.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/idam/ApplicationExecutorTest.java
  src/test/java/uk/gov/hmcts/reform/idam/parameter/ParameterCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/idam/service/IdamDuplicateUserLoggerServiceTest.java
  src/test/java/uk/gov/hmcts/reform/idam/service/IdamUserDisposerServiceTest.java
  src/test/java/uk/gov/hmcts/reform/idam/service/IdamUserRestorerServiceTest.java
  src/test/java/uk/gov/hmcts/reform/idam/service/LauIdamUserServiceTest.java
  src/test/java/uk/gov/hmcts/reform/idam/util/DuplicateUserSummaryTest.java
  src/test/java/uk/gov/hmcts/reform/idam/util/SecurityUtilTest.java
Labels: ns:disposer, prd:disposer, rel:disposer-idam-user-pr-218

#229 LAU-825 add case types to merged user log entry
  src/main/java/uk/gov/hmcts/reform/idam/service/UserRoleMergeService.java
Labels: ns:disposer, prd:disposer, rel:disposer-idam-user-pr-229

#231 lau-831 charts-job upgrade to 2.1.1
  charts/disposer-idam-user/Chart.yaml
Labels: ns:disposer, prd:disposer, rel:disposer-idam-user-pr-231
